<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>PaxxMaker-Connect</string>
	<key>CFBundleExecutable</key>
	<string>PaxxMakerConnect</string>
	<key>CFBundleIdentifier</key>
	<string>com.paxxmaker.connect</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PaxxMaker-Connect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_paxxconnect._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>PaxxMaker</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>PaxxMaker-Connect stellt den Slicing-Dienst für die PaxxMaker-App im lokalen Netzwerk bereit.</string>
</dict>
</plist>
